* {
  margin: 0;
  padding: 0 2%;
  box-sizing: border-box;
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

main > img {
  height: 90vh;
}

